* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 99vh;
    padding-top: 5%;
}

textarea {
    /* width: 95vw; */
}

.listContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listContainer__list-item {
    display: flex;
    flex-direction: row;
    width: 70vw;
    border: 2px solid blue;
    margin-top: 1rem;
    background-color: hsl(0, 0%, 96%);
    border-radius: 5px;
}

.submit {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    /* background-color: hsl(218, 97%, 52%); */
    color: hsl(218, 97%, 52%);
    border: 1px solid hsl(218, 97%, 52%) ;
}


