:root {
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99vh;
  padding-top: 5%;
}

.submit {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(218, 97%, 52%);
  border: 1px solid hsl(218, 97%, 52%);
  margin: 0 auto 1.5rem auto;
  margin-top: 1rem;
}

.listContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.listContainer__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: row;
  width: 70vw;
  margin-top: 0.5rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px darkgrey;
}

.listContainer__list-item:hover,
.itemCheckboxLabel:hover {
  cursor: pointer;
  background-color: blanchedalmond;
}

.listContainer__list-item:hover {
  box-shadow: 5px 5px 5px darkgrey;
}

.itemCheckboxLabel {
  width: 80%;
  overflow-wrap: break-word;
  padding-left: 5%;
}

.listContainer__delete-button {
  display: flex;
  cursor: pointer;
  float: right;
  font-size: 1.75rem;
  padding: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  outline: none;
  color: hsl(8, 100%, 50%);
  border: none;
}

.listContainer__delete-button:hover {
  transform: scale(0.9);
  background-color: blanchedalmond;
}

.listContainer__list-item input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 1.2rem;
    height: 1.2rem;
}

.checked {
    text-decoration: line-through;
    opacity: 0.6;
}

@media only screen and (max-width: 500px){
    .submit {
        width: 18rem;
        height: 5rem;
        font-size: 2.5rem;
    }

    .listContainer__list-item {
        height: 10vw;
    }
}
