:root {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99vh;
  padding-top: 5%;
}

.toDoInput__input {
  width: 30vw;
}
.submit {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(218, 97%, 52%);
  border: 1px solid hsl(218, 97%, 52%);
  margin: 0 auto 1.5rem auto;
  margin-top: 1rem;
  width: 30vw;
}

.listContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.listContainer__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  flex-direction: row;
  width: 50vw;
  margin-top: 0.5rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px darkgrey;
  background-color: whitesmoke;
  transition: 0.1s ease-in-out;
}

.listContainer__list-item:hover,
.itemCheckboxLabel:hover {
  cursor: pointer;
  background-color: blanchedalmond;
}

.listContainer__list-item:hover {
  box-shadow: 5px 5px 5px darkgrey;
}

.itemCheckboxLabel {
  width: 80%;
  overflow-wrap: break-word;
  padding-left: 5%;
  transition: 0.1s ease-in-out;
}

.itemCheckboxLabel:focus {
  border: 2px solid blue;
  background-color: blanchedalmond;
}

.listContainer__delete-button {
  display: flex;
  cursor: pointer;
  float: right;
  font-size: 1.75rem;
  padding: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  outline: none;
  color: hsl(8, 100%, 50%);
  border: none;
  transition: 0.3s ease-in-out;
}

.listContainer__delete-button:focus {
  border: 2px solid blue;
  background-color: blanchedalmond;
}

#submit:hover,
#submit:focus {
  background-color: blanchedalmond;
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

.listContainer__list-item input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  width: 1.2rem;
  height: 1.2rem;
}

.listContainer__delete-button:hover {
  transform: scale(0.9);
  background-color: blanchedalmond;
}

.checked {
  text-decoration: line-through;
  opacity: 0.6;
  transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  .submit {
    width: 80vw;
    font-size: 1.2rem;
  }

  .listContainer__list-item {
    width: 80vw;
    font-size: 1.2rem;
  }

  .toDoInput__input {
    width: 80vw;
  }
  .listContainer__delete-button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 860px) {
  .submit {
    width: 70vw;
  }

  .listContainer__list-item {
    width: 70vw;
  }
  .toDoInput__input {
    width: 70vw;
  }
}

@media only screen and (max-width: 500px){
    .submit {
        width: 18rem;
        height: 5rem;
        font-size: 2.5rem;
    }

    .listContainer__list-item {
        height: 10vw;
    }
}
